In [1]:
import numpy as np
import pandas as pd

In [2]:
# series: array 1 chieu
# dataframe: array 2 chieu

In [3]:
ser = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13])

In [4]:
type(ser)

pandas.core.series.Series

In [5]:
ser.dtype

dtype('int64')

In [6]:
ser

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
dtype: int64

In [7]:
ser[1]

2

In [8]:
ser.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
ser.tail()

8      9
9     10
10    11
11    12
12    13
dtype: int64

In [10]:
ser.head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [17]:
lst = range(20)
print(list(lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [14]:
lst = [3.5, 6.7, 4.8, 8.6, 7.2]
lst

[3.5, 6.7, 4.8, 8.6, 7.2]

In [15]:
arr = np.array(lst)
arr

array([3.5, 6.7, 4.8, 8.6, 7.2])

In [16]:
ser = pd.Series(arr)

In [18]:
ser.tolist()

[3.5, 6.7, 4.8, 8.6, 7.2]

In [19]:
ser.values

array([3.5, 6.7, 4.8, 8.6, 7.2])

In [20]:
ser*2

0     7.0
1    13.4
2     9.6
3    17.2
4    14.4
dtype: float64

In [21]:
ser.mean()

6.16

In [22]:
ser.median()

6.7

In [23]:
ser.sum()

30.8

In [24]:
ser.std()

2.015688467993008

In [25]:
df = pd.DataFrame({'name':['Tom','Jack','Rose'], 'age':[24,32,17]})

In [26]:
df

   name  age
0   Tom   24
1  Jack   32
2  Rose   17

In [29]:
df.iloc[1]

name    Jack
age       32
Name: 1, dtype: object

In [30]:
type(df.iloc[1])

pandas.core.series.Series

In [31]:
df['name']

0     Tom
1    Jack
2    Rose
Name: name, dtype: object

In [32]:
type(df['name'])

pandas.core.series.Series

In [33]:
df['age']+3

0    27
1    35
2    20
Name: age, dtype: int64

In [37]:
df = pd.read_csv('drinks.csv', index_col=0)

In [38]:
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [39]:
df.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [40]:
df.shape

(193, 6)